body {
    background-image: url('images/codeclanzo\ background.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

body > header {
    background-color: dodgerblue;
    color: white;
    font-family: "Questrial";
    letter-spacing: 0.1em;
    
}

body > footer {
    background-color: dodgerblue;
}

.menu {
    list-style: none;
    display: flex;
    justify-content:right;
}

li {
    margin: auto;
}

