body {
    background-image: url('images/codeclanzo\ background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body > header {
    background-color: dodgerblue;
    color: white;
}

body > footer {
    background-color: dodgerblue;
}

.menu {
    list-style: none;
    display: flex;
    justify-content:center;
}