body {
    background-image: url('images/codeclanzo\ background.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    background-color: dodgerblue;
    color: white;
    font-family: "Questrial";
    letter-spacing: 0.1em;
    text-align: right;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 500px;
}

.container > div {
    background-color: aliceblue;
    border: solid;
    border-color: orange;
    border-radius: 5%;

}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar > nav > ul {
    list-style: none;
    display: flex;
    position: bottom;
    background-color: dodgerblue;
    margin-bottom: auto;
}

li {
    margin: auto;
}

