<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CodeClanzo_</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>
    <body>
        <header>
            <div>
                <h1>CodeClanzo_</h1>
            </div>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer>
            <nav>
                <ul class ="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/transactions/new">New <br>Transaction</a></li>
                </ul>
            </nav>
        </footer>
</html>