{% extends "base.html" %}
{% block content %}

<div>
<h2>Create User:</h2>
<form action="/users" method="POST">
    <label for="New_User">New User:</label>
    <input type="text" id="first_name" name="first_name" placeholder="First name" autofocus>
    <input type="text" id="last_name" name="last_name" placeholder="Last name">
    <button class="create-button" value="create-user">Create</button>
</form>
</div>
<p>
<div class="container">
<h2>Select User:</h2>
{% for user in all_users %}
<form action="/users/{{user.id}}/delete", method="POST">
    <div class="user">
        <div class="content">
            <a href="users/{{user.id}}">{{ user.full_name() }}</a>
                <button class="delete-button" value="delete">Delete User</button>
        </div>
    </div>
</form>
<br>
{% endfor %}
</div>
</p>

{% endblock %}