{% extends "base.html" %}
{% block content %}

<div class="conatiner">
{% for transaction in all_transactions %}
<div class="transaction-list">
    <div class="transaction">
        <div class="content">
            <h3>Merchant: {{transaction.merchant}}</h3>
            <div class="category">
                Category: {{transaction.category}}
                <div>
                    Amount: £{{transaction.amount}}
                    <div>
                        User: {{transaction.user.full_name()}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="'buttons">
        <form class="delete-form" action="transactions/{{transaction.id}}/delete" method="POST">
            <button class="delete-button" value="delete">Delete</button>
        </form>
        <form class="edit-form" action="transactions/{{transaction.id}}/edit" method="GET">
            <button class="edit-button" value="edit">Edit</button>
        </form>
    </div>
</div>
{% endfor%}
</div>
{% endblock %}