{% extends "base.html" %}
{% block content %}

<form action="/transactions">
    <div>
        <label for="merchant">Merchant:</label>
        <input type="text" id="merchant" name="merchant" placeholder="merchant" required autofocus>
    </div>
    <div>
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="groceries">Groceries</option>
            <option value="bills">Bills</option>
            <option value="eating-out">Eating Out</option>
            <option value="entertainment">Entertainment</option>
            <option value="shopping">Shopping</option>
            <option value="holidays">Holidays</option>
            <option value="expenses">Expenses</option>
        </select>
    </div>
    <div>
        <label for="amount">Amount: £</label>
        <input type="number" min="0" step="any" id="amount" name="amount" placeholder="amount" required>
    </div>
    <div>
        <label for="user">User:</label>
        <select id="user" name="user_id">
            {% for user in all_users %}
                <option value="{{ user.id }}">{{ user.full_name() }}</option>
            {% endfor %}
        </select>
    </div>
    
    <button type="submit">Confirm</button>

</form>

{% endblock %}
